{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <hr />

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <p>
            {{ form_row(registrationForm.email) }}
        </p>
        <p>
            {{ form_row(registrationForm.firstname) }}
        </p>
        <p>
            {{ form_row(registrationForm.lastname) }}
        </p>
        <p>
            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </p>
        <p>
            {{ form_row(registrationForm.agreeTerms) }}
        </p>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
